<div class="body">
<!-- For demo purpose -->
<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4"> Información de los desarrolladores</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-xl-3 col-sm-6 mb-5 ml-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <h5 class="mb-0">Daniel Reyes Gonzalez</h5><span class="small text-uppercase text-muted">4-E 191336</span>
                <ul class="social mb-0 list-inline mt-3">
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5 ml-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <h5 class="mb-0">Fernando Aurelio Zamacona Rendon</h5><span class="small text-uppercase text-muted">4-E 191170</span>
                <ul class="social mb-0 list-inline mt-3">
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5 ml-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <h5 class="mb-0">Ricardo Alejandro Flores Real</h5><span class="small text-uppercase text-muted">4-E 191326</span>
                <ul class="social mb-0 list-inline mt-3">
                </ul>
            </div>
        </div>
    </div>
</div>

</div>